# Spring RabbitMQ CachingConnectionFactory configuration
# Connection settings for RabbitMQ broker (overridden by environment variables in test)
forage.spring.rabbitmq.host=localhost
forage.spring.rabbitmq.port=5672
forage.spring.rabbitmq.username=guest
forage.spring.rabbitmq.password=guest
forage.spring.rabbitmq.virtual.host=/

# Auto-declare exchanges and queues
camel.component.spring-rabbitmq.auto-declare=true
