# Spring RabbitMQ CachingConnectionFactory configuration
# Connection settings for RabbitMQ broker
forage.rabbitmq.host=localhost
forage.rabbitmq.port=5672  # Overridden by test with testcontainer port
forage.rabbitmq.username=guest
forage.rabbitmq.password=guest
forage.rabbitmq.virtual.host=/

# Auto-declare exchanges and queues
camel.component.spring-rabbitmq.auto-declare=true
